In [2]:
import json
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy
import csv

In [3]:
pwd

'/home/jovyan/work/PROJECT/DS4A_team84/notebooks'

In [14]:
assessment = pd.read_csv("assessment_ethnicity.csv")
Total_enrollment = pd.read_csv("total_enrollment_per_race_with_districtcode.csv")
Total_enrollment_revenue= pd.read_csv("total_enrollment_per_race_with_districtcode.csv")
Total_enrollment.head()

,Unnamed: 0,District Code,Agency Name,Black,Hispanic,White,Asian or Pacific Islander,American Indian/Alaska Native,Hawaiian Native/Pacific Islander,Two or More Races,Total Enrollment,Total Revenue,Revenue per student
0,0,64212,ABC UNIFIED,1791.0,9425.0,1302.0,7459.0,63.0,158.0,524.0,20722.0,226251000.0,10918.40
1,1,61630,ACALANES UNION HIGH,95.0,508.0,3622.0,850.0,9.0,16.0,402.0,5502.0,37710000.0,6853.87
2,2,66761,ACKERMAN CHARTER,4.0,74.0,460.0,9.0,2.0,0.0,37.0,586.0,4410000.0,7525.60
3,3,75309,ACTON-AGUA DULCE UNIFIED,705.0,3466.0,4199.0,536.0,36.0,18.0,1040.0,10000.0,29983000.0,2998.30
4,4,67587,ADELANTO ELEMENTARY,2156.0,6327.0,1010.0,139.0,35.0,88.0,517.0,10272.0,120023000.0,11684.48

In [15]:
#Converting all the assessment columns from percentage columns to absolute numbers for exceeded, met,met & above, nearly met, not met

assessment.head()
assessment['Total Standard Exceeeded'] =(assessment['Students Tested']*assessment['Percentage Standard Exceeded']/100).round(decimals=0)
assessment['Total Standard Met'] =(assessment['Students Tested']*assessment['Percentage Standard Met']/100).round(decimals=0)
assessment['Total Standard Met and Above'] =(assessment['Students Tested']*assessment['Percentage Standard Met and Above']/100).round(decimals=0)
assessment['Total Standard Nearly Met'] =(assessment['Students Tested']*assessment['Percentage Standard Nearly Met']/100).round(decimals=0)
assessment['Total Standard Not Met'] =(assessment['Students Tested']*assessment['Percentage Standard Not Met']/100).round(decimals=0)
assessment.head(40)

,County Code,District Code,Subgroup ID,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores,Total Standard Exceeeded,Total Standard Met,Total Standard Met and Above,Total Standard Nearly Met,Total Standard Not Met
0,1,10017,74,11,2,72.0,22.0,2403.7,0.00,0.00,0.00,0.00,100.00,22.0,0.0,0.0,0.0,0.0,22.0
1,1,10017,74,11,1,72.0,20.0,2419.6,0.00,0.00,0.00,15.00,85.00,20.0,0.0,0.0,0.0,3.0,17.0
2,1,10017,78,11,2,51.0,16.0,2431.3,0.00,0.00,0.00,6.25,93.75,16.0,0.0,0.0,0.0,1.0,15.0
3,1,10017,78,11,1,51.0,12.0,2464.9,0.00,8.33,8.33,33.33,58.33,12.0,0.0,1.0,1.0,4.0,7.0
4,1,31617,78,8,2,13.0,13.0,2375.8,0.00,7.69,7.69,0.00,92.31,13.0,0.0,1.0,1.0,0.0,12.0
5,1,31617,78,8,1,13.0,13.0,2369.9,0.00,0.00,0.00,0.00,100.00,13.0,0.0,0.0,0.0,0.0,13.0
6,1,31617,78,11,1,11.0,11.0,2396.6,0.00,0.00,0.00,0.00,100.00,11.0,0.0,0.0,0.0,0.0,11.0
7,1,31617,78,11,2,11.0,11.0,2384.6,0.00,0.00,0.00,0.00,100.00,11.0,0.0,0.0,0.0,0.0,11.0
8,1,31617,80,8,2,13.0,13.0,2469.5,7.69,15.38,23.08,7.69,69.23,13.0,1.0,2.0,3.0,1.0,9.0
9,1,31617,80,8,1,13.0,13.0,2466.4,0.00,23.08,23.08,15.38,61.54,13.0,0.0,3.0,3.0,2.0,8.0
10,1,61119,74,3,2,41.0,40.0,2382.5,15.00,22.50,37.50,15.00,47.50,40.0,6.0,9.0,15.0,6.0,19.0
11,1,61119,74,3,1,41.0,39.0,2378.7,20.51,15.38,35.90,15.38,48.72,39.0,8.0,6.0,14.0,6.0,19.0
12,1,61119,74,4,2,52.0,50.0,2407.9,10.00,2.00,12.00,34.00,54.00,50.0,5.0,1.0,6.0,17.0,27.0
13,1,61119,74,4,1,52.0,50.0,2380.2,8.00,6.00,14.00,6.00,80.00,50.0,4.0,3.0,7.0,3.0,40.0
14,1,61119,74,5,2,54.0,52.0,2456.4,5.77,11.54,17.31,34.62,48.08,52.0,3.0,6.0,9.0,18.0,25.0
15,1,61119,74,5,1,54.0,50.0,2474.3,16.00,26.00,42.00,18.00,40.00,50.0,8.0,13.0,21.0,9.0,20.0
16,1,61119,74,6,2,31.0,31.0,2485.5,16.13,9.68,25.81,25.81,48.39,31.0,5.0,3.0,8.0,8.0,15.0
17,1,61119,74,6,1,31.0,31.0,2481.3,6.45,29.03,35.48,16.13,48.39,31.0,2.0,9.0,11.0,5.0,15.0
18,1,61119,74,7,1,55.0,53.0,2513.6,13.21,30.19,43.40,20.75,35.85,53.0,7.0,16.0,23.0,11.0,19.0
19,1,61119,74,7,2,55.0,52.0,2484.0,7.69,25.00,32.69,17.31,50.00,52.0,4.0,13.0,17.0,9.0,26.0
20,1,61119,74,8,1,49.0,45.0,2527.2,11.11,26.67,37.78,20.00,42.22,45.0,5.0,12.0,17.0,9.0,19.0
21,1,61119,74,8,2,49.0,46.0,2502.8,13.33,17.78,31.11,15.56,53.33,45.0,6.0,8.0,14.0,7.0,25.0
22,1,61119,74,11,1,81.0,75.0,2535.6,12.00,20.00,32.00,32.00,36.00,75.0,9.0,15.0,24.0,24.0,27.0
23,1,61119,74,11,2,81.0,74.0,2508.9,2.70,14.86,17.57,21.62,60.81,74.0,2.0,11.0,13.0,16.0,45.0
24,1,61119,77,3,1,39.0,39.0,2434.1,28.21,33.33,61.54,15.38,23.08,39.0,11.0,13.0,24.0,6.0,9.0
25,1,61119,77,3,2,39.0,39.0,2448.6,20.51,46.15,66.67,20.51,12.82,39.0,8.0,18.0,26.0,8.0,5.0
26,1,61119,77,4,2,33.0,32.0,2473.6,15.63,18.75,34.38,50.00,15.63,32.0,5.0,6.0,11.0,16.0,5.0
27,1,61119,77,4,1,33.0,32.0,2465.3,18.75,28.13,46.88,28.13,25.00,32.0,6.0,9.0,15.0,9.0,8.0
28,1,61119,77,5,1,49.0,49.0,2518.1,28.57,28.57,57.14,24.49,18.37,49.0,14.0,14.0,28.0,12.0,9.0
29,1,61119,77,5,2,49.0,48.0,2523.5,18.75,29.17,47.92,35.42,16.67,48.0,9.0,14.0,23.0,17.0,8.0
30,1,61119,77,6,1,40.0,40.0,2555.3,27.50,35.00,62.50,20.00,17.50,40.0,11.0,14.0,25.0,8.0,7.0
31,1,61119,77,6,2,40.0,40.0,2548.7,25.00,30.00,55.00,30.00,15.00,40.0,10.0,12.0,22.0,12.0,6.0
32,1,61119,77,7,1,44.0,44.0,2578.3,25.00,43.18,68.18,13.64,18.18,44.0,11.0,19.0,30.0,6.0,8.0
33,1,61119,77,7,2,44.0,44.0,2567.2,31.82,22.73,54.55,22.73,22.73,44.0,14.0,10.0,24.0,10.0,10.0
34,1,61119,77,8,2,52.0,51.0,2564.1,17.65,17.65,35.29,43.14,21.57,51.0,9.0,9.0,18.0,22.0,11.0
35,1,61119,77,8,1,52.0,51.0,2577.6,13.73,43.14,56.86,29.41,13.73,51.0,7.0,22.0,29.0,15.0,7.0
36,1,61119,77,11,2,84.0,79.0,2586.8,16.46,20.25,36.71,29.11,34.18,79.0,13.0,16.0,29.0,23.0,27.0
37,1,61119,77,11,1,84.0,79.0,2608.9,26.58,37.97,64.56,18.99,16.46,79.0,21.0,30.0,51.0,15.0,13.0
38,1,61119,78,3,1,138.0,131.0,2438.6,29.01,25.95,54.96,26.72,18.32,131.0,38.0,34.0,72.0,35.0,24.0
39,1,61119,78,3,2,138.0,134.0,2451.2,27.61,33.58,61.19,21.64,17.16,134.0,37.0,45.0,82.0,29.0,23.0

In [16]:
# I am only getting 902 rows for this group by districts
# Also dropping all the % columns
# Last grouped by district code

assessment = assessment.drop(columns=['Percentage Standard Exceeded','Percentage Standard Met and Above', 'Percentage Standard Met','Percentage Standard Met and Above','Percentage Standard Nearly Met','Percentage Standard Not Met'])
assessment.to_csv('assessment_totalstudents.csv')

In [ ]:
assessmentbydistrict_df = assessment.groupby(['District Code']).sum()
assessmentbydistrict_df.head()

In [11]:
# Merging the total enrollment data and the assessment data. 
enrolled_and_tested = Total_enrollment_revenue.merge(assessmentbydistrict_df, on='District Code', how='outer')
enrolled_and_tested.columns

Index(['Unnamed: 0', 'District Code', 'Agency Name', 'Black', 'Hispanic',
       'White', 'Asian or Pacific Islander', 'American Indian/Alaska Native',
       'Hawaiian Native/Pacific Islander', 'Two or More Races',
       'Total Enrollment', 'Total Revenue', 'Revenue per student',
       'County Code', 'Subgroup ID', 'Grade', 'Test Id',
       'CAASPP Reported Enrollment', 'Students Tested', 'Mean Scale Score',
       'Students with Scores', 'Total Standard Exceeeded',
       'Total Standard Met', 'Total Standard Met and Above',
       'Total Standard Nearly Met', 'Total Standard Not Met'],
      dtype='object')

In [9]:
# I created a new column with Student test % to look at how many of the students enrolled are being tested. I have also sorted on that column

enrolled_and_tested[['District Code','Agency Name', 'Total Enrollment','Students Tested']] 
enrolled_and_tested['Student tested %']=enrolled_and_tested['Students Tested']/enrolled_and_tested['Total Enrollment']*100
enrolled_and_tested[['District Code','Agency Name', 'Total Enrollment','Students Tested','Student tested %']].sort_values(['Student tested %'])

,District Code,Agency Name,Total Enrollment,Students Tested,Student tested %
201,68049,DEHESA ELEMENTARY,6314.0,24.0,0.380108
791,10439,SANTA CLARA COUNTY OFFICE OF EDUCATION,11043.0,208.0,1.883546
809,65474,SAUSALITO MARIN CITY,558.0,11.0,1.971326
5,10017,ALAMEDA COUNTY OFFICE OF EDUCATION,2870.0,70.0,2.439024
181,10074,CONTRA COSTA COUNTY OFFICE OF EDUCATION,4792.0,141.0,2.942404
372,10140,INYO COUNTY OFFICE OF EDUCATION,1946.0,91.0,4.676259
998,10579,YOLO COUNTY OFFICE OF EDUCATION,540.0,27.0,5.000000
504,63628,MARICOPA UNIFIED,3972.0,205.0,5.161128
603,71423,NUESTRO ELEMENTARY,490.0,26.0,5.306122
503,71407,MARCUM-ILLINOIS UNION ELEMENTARY,2415.0,135.0,5.590062
433,63966,LAKESIDE UNION ELEMENTARY,6313.0,366.0,5.797561
385,68163,JULIAN UNION ELEMENTARY,4360.0,255.0,5.848624
851,10488,SOLANO COUNTY OFFICE OF EDUCATION,317.0,22.0,6.940063
942,10561,VENTURA COUNTY OFFICE OF EDUCATION,3079.0,223.0,7.242611
363,10124,HUMBOLDT COUNTY OFFICE OF EDUCATION,436.0,40.0,9.174312
291,10108,FRESNO COUNTY OFFICE OF EDUCATION,2684.0,254.0,9.463487
81,69112,BLOCHMAN UNION ELEMENTARY,1277.0,122.0,9.553641
403,10165,KINGS COUNTY OFFICE OF EDUCATION,364.0,35.0,9.615385
767,10397,SAN JOAQUIN COUNTY OFFICE OF EDUCATION,4267.0,446.0,10.452308
3,75309,ACTON-AGUA DULCE UNIFIED,10000.0,1169.0,11.690000
729,10330,RIVERSIDE COUNTY OFFICE OF EDUCATION,8520.0,1037.0,12.171362
876,10504,STANISLAUS COUNTY OFFICE OF EDUCATION,2381.0,304.0,12.767745
109,10041,BUTTE COUNTY OFFICE OF EDUCATION,1212.0,169.0,13.943894
747,10348,SACRAMENTO COUNTY OFFICE OF EDUCATION,2214.0,327.0,14.769648
974,64204,WESTWOOD UNIFIED,346.0,52.0,15.028902
367,10132,IMPERIAL COUNTY OFFICE OF EDUCATION,619.0,94.0,15.185784
855,10496,SONOMA COUNTY OFFICE OF EDUCATION,429.0,67.0,15.617716
777,10413,SAN MATEO COUNTY OFFICE OF EDUCATION,240.0,38.0,15.833333
650,71209,PARADISE ELEMENTARY,199.0,32.0,16.080402
495,63172,MAGNOLIA UNION ELEMENTARY,136.0,22.0,16.176471
...,...,...,...,...,...
889,65896,SURPRISE VALLEY JOINT UNIFIED,116.0,NaN,NaN
891,10512,SUTTER COUNTY OFFICE OF EDUCATION,427.0,NaN,NaN
915,71761,TRINITY CENTER ELEMENTARY,14.0,NaN,NaN
925,66415,TWIN RIDGES ELEMENTARY,95.0,NaN,NaN
931,65516,UNION JOINT ELEMENTARY,12.0,NaN,NaN
948,69344,VISTA DEL MAR UNION,98.0,NaN,NaN
952,75416,WARNER UNIFIED,1733.0,NaN,NaN
977,70169,WHITMORE UNION ELEMENTARY,216.0,NaN,NaN
983,70490,WILLOW CREEK ELEMENTARY,39.0,NaN,NaN
984,67579,WILLOW GROVE UNION ELEMENTARY,19.0,NaN,NaN
1005,10207,NaN,NaN,422.0,NaN
1006,10363,NaN,NaN,834.0,NaN
1007,10405,NaN,NaN,279.0,NaN
1008,31617,NaN,NaN,74.0,NaN
1009,31625,NaN,NaN,48.0,NaN
1010,32276,NaN,NaN,117.0,NaN
1011,61945,NaN,NaN,278.0,NaN
1012,62976,NaN,NaN,570.0,NaN
1013,63990,NaN,NaN,1806.0,NaN
1014,67785,NaN,NaN,3157.0,NaN
1015,67827,NaN,NaN,2509.0,NaN
1016,68189,NaN,NaN,5804.0,NaN
1017,68544,NaN,NaN,2696.0,NaN
1018,68916,NaN,NaN,6569.0,NaN
1019,71944,NaN,NaN,193.0,NaN
1020,71985,NaN,NaN,471.0,NaN
1021,72512,NaN,NaN,3239.0,NaN
1022,72694,NaN,NaN,7320.0,NaN
1023,75259,NaN,NaN,1173.0,NaN
1024,76885,NaN,NaN,399.0,NaN

In [8]:
enrolled_and_tested.to_csv("/home/jovyan/work/Desktop/Data Science/Team 84 project/enrolled_and_tested.csv")