In [1]:
# Load packages
import os
import pandas as pd
import numpy as np

# This line is needed to display plots inline in Jupyter Notebook
%matplotlib inline

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

# Required to display image inline
from IPython.display import Image

# Advanced plotting functionality with seaborn
import seaborn as sns

sns.set(style="whitegrid")  # can set style depending on how you'd like it to look

In [167]:
df= pd.read_csv('ELSI_school_enrollment_ethnicity_20162017.csv')

In [154]:
df_financials = pd.read_csv('ELSI_California_financial_summary_2016_2017.csv')

In [273]:
DFass = pd.read_csv('schools_ass_eco.csv')

In [168]:
df.isnull().sum()

School Name                                   0
School Name [Public School] 201617           20
Agency Name                                  20
Agency ID                                     0
County Number                                20
American Indian/Alaska Native              2839
Asian or Asian/Pacific Islander             853
Hispanic                                    166
Black                                       939
White                                       312
Hawaiian Nat./Pacific Isl.                 3511
Two or More Races                           739
FullTime Equivalent (FTE) Teachers          348
Pupil/Teacher Ratio                         354
Total Students All Grades (Includes AE)     145
dtype: int64

In [249]:
df[df['Agency Name']=='LOS ANGELES UNIFIED']

,School Name,School Name [Public School] 201617,Agency Name,Agency ID,County Number,American Indian/Alaska Native,Asian or Asian/Pacific Islander,Hispanic,Black,White,Hawaiian Nat./Pacific Isl.,Two or More Races,FullTime Equivalent (FTE) Teachers,Pupil/Teacher Ratio,Total Students All Grades (Includes AE)
26,ABRAHAM LINCOLN SENIOR HIGH,Abraham Lincoln Senior High,LOS ANGELES UNIFIED,622710,6037.0,4.0,233.0,736.0,13.0,14.0,0.0,5.0,53.88,18.65,1005.0
34,ACAD FOR MULTILINGUAL ARTS AND SCI AT MERVYN M...,Acad for Multilingual Arts and Sci at Mervyn M...,LOS ANGELES UNIFIED,622710,6037.0,1.0,2.0,564.0,149.0,5.0,0.0,2.0,29.50,24.51,723.0
36,ACADEMIA MODERNA,Academia Moderna,LOS ANGELES UNIFIED,622710,6037.0,0.0,0.0,435.0,2.0,32.0,0.0,0.0,19.00,24.68,469.0
37,ACADEMIES OF EDUCATION AND EMPOWERMENT AT CARS...,Academies of Education and Empowerment at Cars...,LOS ANGELES UNIFIED,622710,6037.0,1.0,120.0,302.0,88.0,14.0,27.0,7.0,27.63,20.23,559.0
42,ACADEMY FOR ENRICHED SCIENCES,Academy for Enriched Sciences,LOS ANGELES UNIFIED,622710,6037.0,0.0,69.0,112.0,20.0,100.0,1.0,19.0,14.00,22.93,321.0
46,ACADEMY OF MEDICAL ARTS AT CARSON HIGH,Academy of Medical Arts at Carson High,LOS ANGELES UNIFIED,622710,6037.0,1.0,206.0,216.0,36.0,10.0,22.0,7.0,23.89,20.85,498.0
48,ACADEMY OF SCIENCE AND ENGINEERING,Academy of Science and Engineering,LOS ANGELES UNIFIED,622710,6037.0,0.0,0.0,152.0,43.0,1.0,0.0,0.0,12.00,16.33,196.0
55,ACCELERATED,The Accelerated,LOS ANGELES UNIFIED,622710,6037.0,0.0,4.0,746.0,21.0,9.0,0.0,2.0,30.00,26.07,782.0
58,ACCELERATED CHARTER ELEMENTARY,Accelerated Charter Elementary,LOS ANGELES UNIFIED,622710,6037.0,1.0,0.0,434.0,7.0,2.0,0.0,0.0,19.00,23.37,444.0
104,AGGELER COMMUNITY DAY,Aggeler Community Day,LOS ANGELES UNIFIED,622710,6037.0,1.0,1.0,50.0,18.0,10.0,1.0,0.0,9.00,9.00,81.0
116,ALAIN LEROY LOCKE COLLEGE PREPARATORY ACADEMY,Alain Leroy Locke College Preparatory Academy,LOS ANGELES UNIFIED,622710,6037.0,6.0,0.0,1134.0,422.0,4.0,0.0,20.0,87.01,18.23,1586.0
142,ALBERT EINSTEIN CONTINUATION,Albert Einstein Continuation,LOS ANGELES UNIFIED,622710,6037.0,0.0,1.0,69.0,1.0,4.0,0.0,1.0,4.00,19.00,76.0
149,ALBION STREET ELEMENTARY,Albion Street Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,28.0,217.0,4.0,5.0,0.0,0.0,11.00,23.09,254.0
153,ALDAMA ELEMENTARY,Aldama Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,7.0,451.0,3.0,61.0,0.0,4.0,24.00,21.92,526.0
160,ALEXANDER FLEMING MIDDLE,Alexander Fleming Middle,LOS ANGELES UNIFIED,622710,6037.0,5.0,105.0,983.0,213.0,73.0,21.0,14.0,60.00,23.57,1414.0
162,ALEXANDER HAMILTON SENIOR HIGH,Alexander Hamilton Senior High,LOS ANGELES UNIFIED,622710,6037.0,7.0,113.0,1379.0,722.0,440.0,9.0,49.0,116.50,23.34,2719.0
165,ALEXANDRIA AVENUE ELEMENTARY,Alexandria Avenue Elementary,LOS ANGELES UNIFIED,622710,6037.0,1.0,43.0,713.0,7.0,19.0,6.0,6.0,33.00,24.09,795.0
166,ALFONSO B. PEREZ SPECIAL EDUCATION CENTER,Alfonso B. Perez Special Education Center,LOS ANGELES UNIFIED,622710,6037.0,1.0,22.0,271.0,3.0,4.0,0.0,2.0,36.00,8.42,303.0
167,ALFRED B. NOBEL CHARTER MIDDLE,Alfred B. Nobel Charter Middle,LOS ANGELES UNIFIED,622710,6037.0,8.0,552.0,1036.0,108.0,649.0,7.0,82.0,87.50,27.91,2442.0
200,ALLESANDRO ELEMENTARY,Allesandro Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,31.0,361.0,9.0,20.0,0.0,2.0,19.00,22.26,423.0
202,ALLIANCE ALICE M. BAXTER COLLEGEREADY HIGH,Alliance Alice M. Baxter CollegeReady High,LOS ANGELES UNIFIED,622710,6037.0,3.0,15.0,223.0,22.0,14.0,2.0,0.0,15.00,18.60,279.0
203,ALLIANCE CINDY AND BILL SIMON TECHNOLOGY ACADE...,Alliance Cindy and Bill Simon Technology Acade...,LOS ANGELES UNIFIED,622710,6037.0,1.0,1.0,463.0,38.0,0.0,0.0,0.0,28.10,17.90,503.0
204,ALLIANCE COLLEGEREADY MIDDLE ACADEMY 12,Alliance CollegeReady Middle Academy 12,LOS ANGELES UNIFIED,622710,6037.0,0.0,2.0,406.0,8.0,1.0,0.0,0.0,16.00,26.06,417.0
205,ALLIANCE COLLEGEREADY MIDDLE ACADEMY 4,Alliance CollegeReady Middle Academy 4,LOS ANGELES UNIFIED,622710,6037.0,0.0,1.0,438.0,11.0,1.0,1.0,0.0,19.74,22.90,452.0
206,ALLIANCE COLLEGEREADY MIDDLE ACADEMY 5,Alliance CollegeReady Middle Academy 5,LOS ANGELES UNIFIED,622710,6037.0,3.0,9.0,284.0,3.0,4.0,0.0,0.0,17.00,17.82,303.0
207,ALLIANCE COLLEGEREADY MIDDLE ACADEMY 8,Alliance CollegeReady Middle Academy 8,LOS ANGELES UNIFIED,622710,6037.0,0.0,0.0,443.0,0.0,1.0,0.0,1.0,19.70,22.59,445.0
208,ALLIANCE COLLINS FAMILY COLLEGEREADY HIGH,Alliance Collins Family CollegeReady High,LOS ANGELES UNIFIED,622710,6037.0,0.0,2.0,598.0,1.0,0.0,0.0,0.0,31.70,18.96,601.0
209,ALLIANCE DR. OLGA MOHAN HIGH,Alliance Dr. Olga Mohan High,LOS ANGELES UNIFIED,622710,6037.0,0.0,3.0,432.0,2.0,2.0,0.0,0.0,24.67,17.79,439.0
210,ALLIANCE GERTZRESSLER RICHARD MERKIN 612 COMPLEX,Alliance GertzRessler Richard Merkin 612 Complex,LOS ANGELES UNIFIED,622710,6037.0,1.0,1.0,972.0,11.0,1.0,0.0,0.0,45.75,21.55,986.0
211,ALLIANCE JACK H. SKIRBALL MIDDLE,Alliance Jack H. Skirball Middle,LOS ANGELES UNIFIED,622710,6037.0,0.0,1.0,395.0,48.0,0.0,0.0,0.0,18.95,23.43,444.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,WHITMAN CONTINUATION,Whitman Continuation,LOS ANGELES UNIFIED,622710,6037.0,0.0,8.0,51.0,4.0,2.0,0.0,1.0,3.00,22.00,66.0
10007,WHITNEY YOUNG CONTINUATION,Whitney Young Continuation,LOS ANGELES UNIFIED,622710,6037.0,0.0,0.0,17.0,45.0,3.0,1.0,0.0,4.00,16.50,66.0
10016,WILBUR CHARTER FOR ENRICHED ACADEMICS,Wilbur Charter For Enriched Academics,LOS ANGELES UNIFIED,622710,6037.0,0.0,31.0,63.0,22.0,526.0,3.0,20.0,26.00,25.58,665.0
10032,WILL ROGERS CONTINUATION,Will Rogers Continuation,LOS ANGELES UNIFIED,622710,6037.0,0.0,5.0,125.0,3.0,6.0,0.0,0.0,8.00,17.38,139.0
10063,WILLIAM J. JOHNSTON COMMUNITY DAY,William J. Johnston Community Day,LOS ANGELES UNIFIED,622710,6037.0,0.0,1.0,87.0,35.0,2.0,3.0,0.0,10.00,12.80,128.0
10064,WILLIAM JEFFERSON CLINTON MIDDLE,William Jefferson Clinton Middle,LOS ANGELES UNIFIED,622710,6037.0,1.0,0.0,748.0,47.0,13.0,0.0,3.0,28.50,28.49,812.0
10073,WILLIAM MULHOLLAND MIDDLE,William Mulholland Middle,LOS ANGELES UNIFIED,622710,6037.0,1.0,43.0,1107.0,39.0,71.0,1.0,7.0,57.00,22.26,1269.0
10076,WILLIAM R. ANTON ELEMENTARY,William R. Anton Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,0.0,723.0,0.0,6.0,0.0,1.0,32.00,22.81,730.0
10083,WILLIAM TELL AGGELER OPPORTUNITY HIGH,William Tell Aggeler Opportunity High,LOS ANGELES UNIFIED,622710,6037.0,0.0,1.0,81.0,3.0,7.0,0.0,0.0,4.00,23.00,92.0
10108,WILLOW ELEMENTARY,Willow Elementary,LOS ANGELES UNIFIED,622710,6037.0,2.0,0.0,557.0,2.0,6.0,0.0,3.0,23.00,24.78,570.0
10123,WILMINGTON MID SCI TECH ENGR ARTS MATH (STEAM)...,Wilmington Mid Sci Tech Engr Arts Math (STEAM)...,LOS ANGELES UNIFIED,622710,6037.0,3.0,9.0,1319.0,20.0,27.0,9.0,6.0,61.01,22.83,1393.0
10124,WILMINGTON PARK ELEMENTARY,Wilmington Park Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,5.0,806.0,6.0,10.0,2.0,4.0,34.00,24.50,833.0
10125,WILSHIRE CREST ELEMENTARY,Wilshire Crest Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,5.0,88.0,64.0,17.0,0.0,6.0,8.00,22.50,180.0
10126,WILSHIRE PARK ELEMENTARY,Wilshire Park Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,122.0,318.0,27.0,17.0,1.0,5.0,22.00,22.27,490.0
10150,WILTON PLACE ELEMENTARY,Wilton Place Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,221.0,358.0,21.0,51.0,1.0,10.0,30.00,22.07,662.0
10158,WINDSOR HILLS MATH SCIENCE,Windsor Hills Math Science,LOS ANGELES UNIFIED,622710,6037.0,3.0,2.0,54.0,482.0,3.0,0.0,11.0,23.00,24.13,555.0
10165,WINNETKA AVENUE ELEMENTARY,Winnetka Avenue Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,72.0,421.0,11.0,24.0,0.0,8.0,24.00,22.33,536.0
10176,WISDOM ELEMENTARY,Wisdom Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,2.0,832.0,81.0,18.0,0.0,4.0,39.00,24.03,937.0
10185,WONDERLAND AVENUE ELEMENTARY,Wonderland Avenue Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,108.0,16.0,16.0,353.0,0.0,30.0,20.00,26.15,523.0
10195,WOODCREST ELEMENTARY,Woodcrest Elementary,LOS ANGELES UNIFIED,622710,6037.0,1.0,1.0,576.0,267.0,6.0,2.0,11.0,35.00,24.69,864.0
10200,WOODLAKE ELEMENTARY COMMUNITY CHARTER,Woodlake Elementary Community Charter,LOS ANGELES UNIFIED,622710,6037.0,0.0,59.0,119.0,36.0,260.0,1.0,43.0,22.00,23.55,518.0
10207,WOODLAND HILLS ACADEMY,Woodland Hills Academy,LOS ANGELES UNIFIED,622710,6037.0,2.0,59.0,570.0,59.0,123.0,0.0,14.0,33.01,25.05,827.0
10208,WOODLAND HILLS ELEMENTARY CHARTER FOR ENRICHED...,Woodland Hills Elementary Charter For Enriched...,LOS ANGELES UNIFIED,622710,6037.0,0.0,90.0,77.0,28.0,472.0,1.0,42.0,29.00,24.48,710.0
10213,WOODLAWN AVENUE ELEMENTARY,Woodlawn Avenue Elementary,LOS ANGELES UNIFIED,622710,6037.0,0.0,0.0,718.0,0.0,36.0,0.0,1.0,35.00,21.57,755.0
10225,WOODROW WILSON SENIOR HIGH,Woodrow Wilson Senior High,LOS ANGELES UNIFIED,622710,6037.0,4.0,52.0,1406.0,25.0,22.0,2.0,6.0,75.01,20.22,1517.0
10252,YES ACADEMY,YES Academy,LOS ANGELES UNIFIED,622710,6037.0,0.0,1.0,362.0,245.0,1.0,0.0,3.0,28.00,21.86,612.0
10267,YORKDALE ELEMENTARY,Yorkdale Elementary,LOS ANGELES UNIFIED,622710,6037.0,2.0,12.0,255.0,0.0,8.0,2.0,1.0,14.00,20.00,280.0
10279,YOUNG OAK KIM ACADEMY,Young Oak Kim Academy,LOS ANGELES UNIFIED,622710,6037.0,2.0,49.0,839.0,23.0,7.0,1.0,1.0,32.00,28.81,922.0
10281,YOUTH OPPORTUNITIES UNLIMITED,Youth Opportunities Unlimited,LOS ANGELES UNIFIED,622710,6037.0,1.0,1.0,203.0,95.0,2.0,0.0,3.0,17.00,17.94,305.0
10311,ZANE GREY CONTINUATION,Zane Grey Continuation,LOS ANGELES UNIFIED,622710,6037.0,0.0,0.0,65.0,5.0,2.0,0.0,1.0,4.00,18.25,73.0

In [171]:
df= df.loc[df['School Name'].apply(lambda x: 'ADULT' not in x)]

In [172]:
df=df.drop(7308)

In [173]:
df.isnull().sum()

School Name                                   0
School Name [Public School] 201617            0
Agency Name                                   0
Agency ID                                     0
County Number                                 0
American Indian/Alaska Native              2813
Asian or Asian/Pacific Islander             831
Hispanic                                    145
Black                                       916
White                                       291
Hawaiian Nat./Pacific Isl.                 3487
Two or More Races                           716
FullTime Equivalent (FTE) Teachers          327
Pupil/Teacher Ratio                         333
Total Students All Grades (Includes AE)     125
dtype: int64

In [174]:
df=df.fillna(0)

In [175]:
df.columns

Index(['School Name', 'School Name [Public School] 201617', 'Agency Name',
       'Agency ID', 'County Number', 'American Indian/Alaska Native',
       'Asian or Asian/Pacific Islander', 'Hispanic', 'Black', 'White',
       'Hawaiian Nat./Pacific Isl.', 'Two or More Races',
       'FullTime Equivalent (FTE) Teachers', 'Pupil/Teacher Ratio ',
       'Total Students All Grades (Includes AE)'],
      dtype='object')

In [176]:
df.head()

,School Name,School Name [Public School] 201617,Agency Name,Agency ID,County Number,American Indian/Alaska Native,Asian or Asian/Pacific Islander,Hispanic,Black,White,Hawaiian Nat./Pacific Isl.,Two or More Races,FullTime Equivalent (FTE) Teachers,Pupil/Teacher Ratio,Total Students All Grades (Includes AE)
0,21ST CENTURY LEARNING INSTITUTE,21st Century Learning Institute,Beaumont Unified,604290,6065.0,0.0,2.0,36.0,12.0,37.0,0.0,0.0,2.98,29.19,87.0
1,A PLACE TO GROW,A Place to Grow,Ojai Unified,628270,6111.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0
2,A. E. ARNOLD ELEMENTARY,A. E. Arnold Elementary,Cypress Elementary,610440,6059.0,0.0,259.0,229.0,41.0,194.0,6.0,27.0,28.00,27.00,756.0
3,A. G. COOK ELEMENTARY,A. J. Cook Elementary,Garden Grove Unified,614880,6059.0,0.0,242.0,79.0,0.0,16.0,2.0,10.0,16.00,21.81,349.0
4,A. G. CURRIE MIDDLE,A. G. Currie Middle,Tustin Unified,640150,6059.0,1.0,27.0,679.0,7.0,23.0,2.0,3.0,30.30,24.49,742.0

In [177]:
df.isnull().sum()

School Name                                0
School Name [Public School] 201617         0
Agency Name                                0
Agency ID                                  0
County Number                              0
American Indian/Alaska Native              0
Asian or Asian/Pacific Islander            0
Hispanic                                   0
Black                                      0
White                                      0
Hawaiian Nat./Pacific Isl.                 0
Two or More Races                          0
FullTime Equivalent (FTE) Teachers         0
Pupil/Teacher Ratio                        0
Total Students All Grades (Includes AE)    0
dtype: int64

In [178]:
#df=df[df['Total Students All Grades (Includes AE)']!=0]
#df

In [179]:
df.describe()

,Agency ID,County Number,American Indian/Alaska Native,Asian or Asian/Pacific Islander,Hispanic,Black,White,Hawaiian Nat./Pacific Isl.,Two or More Races,FullTime Equivalent (FTE) Teachers,Pupil/Teacher Ratio,Total Students All Grades (Includes AE)
count,10288.000000,10288.000000,10288.000000,10288.000000,10288.00000,10288.000000,10288.000000,10288.000000,10288.000000,10288.000000,10288.000000,10288.000000
mean,624326.317554,6058.771967,3.230949,69.131221,327.67117,33.807834,142.469576,2.845548,24.478810,25.810909,21.862209,603.836606
std,18476.607298,257.522945,8.514954,152.464873,355.00938,63.310388,214.800672,6.026557,34.977957,22.183157,8.555229,535.219908
min,600001.000000,6001.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,611610.000000,6037.000000,0.000000,3.000000,78.00000,2.000000,14.000000,0.000000,3.000000,13.000000,20.330000,288.000000
50%,622710.000000,6059.000000,1.000000,16.000000,231.00000,10.000000,57.000000,1.000000,13.000000,22.000000,23.300000,515.000000
75%,633860.000000,6073.000000,3.000000,65.000000,462.00000,37.000000,198.000000,3.000000,33.000000,31.000000,25.332500,742.250000
max,691137.000000,32019.000000,386.000000,2303.000000,4206.00000,891.000000,3268.000000,113.000000,734.000000,216.720000,325.000000,5912.000000

In [180]:
df[df['Total Students All Grades (Includes AE)']<10].describe()

,Agency ID,County Number,American Indian/Alaska Native,Asian or Asian/Pacific Islander,Hispanic,Black,White,Hawaiian Nat./Pacific Isl.,Two or More Races,FullTime Equivalent (FTE) Teachers,Pupil/Teacher Ratio,Total Students All Grades (Includes AE)
count,449.000000,449.000000,449.000000,449.00000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000
mean,625445.416481,6056.256125,0.100223,0.03118,0.810690,0.162584,0.815145,0.017817,0.113586,0.505212,2.771804,2.051225
std,26938.220282,31.551388,0.444435,0.22934,1.598624,0.621654,1.576655,0.132435,0.430964,1.359001,7.636645,2.996956
min,600009.000000,6001.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,601437.000000,6035.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,621360.000000,6053.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,634440.000000,6083.000000,0.000000,0.00000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,3.570000,4.000000
max,691137.000000,6115.000000,5.000000,3.00000,8.000000,6.000000,8.000000,1.000000,4.000000,17.000000,100.000000,9.000000

In [181]:
df_financials.isnull().sum()

Agency Name                                                                 0
Total Revenue (TOTALREV) per Pupil                                        167
Total Revenue - Local Sources (TLOCREV) per Pupil                         167
Total Revenue - State Sources (TSTREV) per Pupil                          167
Total Revenue - Federal Sources (TFEDREV) per Pupil                       167
Total Current Expenditures - Instruction (TCURINST) per Pupil             188
Total Current Expenditures - Support Services (TCURSSVC) per Pupil        167
Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil    167
Total Current Expenditures - Salary (Z32) per Pupil                       167
Total Current Expenditures - Benefits (Z34) per Pupil                     167
Total Expenditures (TOTALEXP) per Pupil                                   188
Total Expenditures - Capital Outlay (TCAPOUT) per Pupil                   167
Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil     167
Total Current Expenditures (TCURELSC) per Pupil                           188
Instructional Expenditures (E13) per Pupil                                188
dtype: int64

In [182]:
df_financials=df_financials.fillna(0)

In [183]:
df_financials.isnull().sum()

Agency Name                                                               0
Total Revenue (TOTALREV) per Pupil                                        0
Total Revenue - Local Sources (TLOCREV) per Pupil                         0
Total Revenue - State Sources (TSTREV) per Pupil                          0
Total Revenue - Federal Sources (TFEDREV) per Pupil                       0
Total Current Expenditures - Instruction (TCURINST) per Pupil             0
Total Current Expenditures - Support Services (TCURSSVC) per Pupil        0
Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil    0
Total Current Expenditures - Salary (Z32) per Pupil                       0
Total Current Expenditures - Benefits (Z34) per Pupil                     0
Total Expenditures (TOTALEXP) per Pupil                                   0
Total Expenditures - Capital Outlay (TCAPOUT) per Pupil                   0
Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil     0
Total Current Expenditures (TCURELSC) per Pupil                           0
Instructional Expenditures (E13) per Pupil                                0
dtype: int64

In [274]:
DFass.head()

,County Code,District Code,School Code,Subgroup ID,Test Id,Mean Scale Score,Total Tested At Entity Level,Total Tested with Scores,CAASPP Reported Enrollment,Students Tested,Students with Scores,Total Standard Exceeded,Total Standard Met,Total Standard Met and Above,Total Standard Nearly Met,Total Standard Not Met
0,1,10017,112607,200,1,2564.000000,24.0,24.0,25.0,24.0,24.0,6.0,2.0,8.0,8.0,8.0
1,1,10017,131581,200,1,2421.750000,46.0,46.0,23.0,23.0,23.0,0.0,2.0,2.0,4.0,17.0
2,1,10017,131581,200,2,2398.450000,46.0,46.0,23.0,23.0,23.0,0.0,3.0,3.0,0.0,20.0
3,1,10017,131581,204,1,2478.966667,348.0,342.0,116.0,116.0,114.0,2.0,21.0,24.0,39.0,54.0
4,1,10017,131581,204,2,2463.433333,348.0,345.0,116.0,116.0,115.0,2.0,12.0,14.0,32.0,70.0

In [19]:
#df_financials = df_financials.loc[df_financials['Agency Name'].apply(lambda x: 'OFFICE OF EDUCATION' not in x)]

In [20]:
#df_financials = df_financials.loc[df['Agency Name'].apply(lambda x: 'DEPARTMENT OF EDUCATION' not in x)]

In [185]:
df['Agency Name']=df['Agency Name'].str.upper()

In [187]:
df_financials.describe()

,Total Revenue (TOTALREV) per Pupil,Total Revenue - Local Sources (TLOCREV) per Pupil,Total Revenue - State Sources (TSTREV) per Pupil,Total Revenue - Federal Sources (TFEDREV) per Pupil,Total Current Expenditures - Instruction (TCURINST) per Pupil,Total Current Expenditures - Support Services (TCURSSVC) per Pupil,Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil,Total Current Expenditures - Salary (Z32) per Pupil,Total Current Expenditures - Benefits (Z34) per Pupil,Total Expenditures (TOTALEXP) per Pupil,Total Expenditures - Capital Outlay (TCAPOUT) per Pupil,Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil,Total Current Expenditures (TCURELSC) per Pupil,Instructional Expenditures (E13) per Pupil
count,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000,1161.000000
mean,16513.904393,7044.535745,7831.211886,1638.171404,7105.560724,5415.045650,427.298019,7050.899225,3088.568475,15943.913867,984.680448,279.698536,12947.919035,7105.560724
std,31435.325245,19145.489987,10472.522736,5357.104623,10270.748076,10973.231106,557.029569,10642.099590,4255.109474,28573.562006,2578.164667,1723.392948,20632.900426,10270.748076
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10882.000000,1789.000000,3491.000000,335.000000,5782.000000,3085.000000,123.000000,5289.000000,2238.000000,10521.000000,33.000000,0.000000,9583.000000,5782.000000
50%,12986.000000,3903.000000,6983.000000,765.000000,6701.000000,3914.000000,382.000000,6322.000000,2776.000000,12676.000000,417.000000,2.000000,11206.000000,6701.000000
75%,15098.000000,6960.000000,9393.000000,1229.000000,7668.000000,4949.000000,578.000000,7206.000000,3308.000000,15124.000000,1162.000000,118.000000,12892.000000,7668.000000
max,579870.000000,435532.000000,147019.000000,106213.000000,286116.000000,186757.000000,10953.000000,234981.000000,94370.000000,515356.000000,58443.000000,43208.000000,472873.000000,286116.000000

In [186]:
df_financials['Agency Name'].unique()

array(['ABC UNIFIED', 'ACALANES UNION HIGH', 'ACKERMAN CHARTER', ...,
       'YUBA CITY UNIFIED', 'YUBA COUNTY OFFICE OF EDUCATION',
       'YUCAIPA-CALIMESA JOINT UNIFIED'], dtype=object)

In [188]:
df_enrollment_financials = pd.merge(df, df_financials, how='outer', on=['Agency Name'])

In [189]:
df_enrollment_financials.isnull().sum()

School Name                                                               145
School Name [Public School] 201617                                        145
Agency Name                                                                 0
Agency ID                                                                 145
County Number                                                             145
American Indian/Alaska Native                                             145
Asian or Asian/Pacific Islander                                           145
Hispanic                                                                  145
Black                                                                     145
White                                                                     145
Hawaiian Nat./Pacific Isl.                                                145
Two or More Races                                                         145
FullTime Equivalent (FTE) Teachers                                        145
Pupil/Teacher Ratio                                                       145
Total Students All Grades (Includes AE)                                   145
Total Revenue (TOTALREV) per Pupil                                        615
Total Revenue - Local Sources (TLOCREV) per Pupil                         615
Total Revenue - State Sources (TSTREV) per Pupil                          615
Total Revenue - Federal Sources (TFEDREV) per Pupil                       615
Total Current Expenditures - Instruction (TCURINST) per Pupil             615
Total Current Expenditures - Support Services (TCURSSVC) per Pupil        615
Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil    615
Total Current Expenditures - Salary (Z32) per Pupil                       615
Total Current Expenditures - Benefits (Z34) per Pupil                     615
Total Expenditures (TOTALEXP) per Pupil                                   615
Total Expenditures - Capital Outlay (TCAPOUT) per Pupil                   615
Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil     615
Total Current Expenditures (TCURELSC) per Pupil                           615
Instructional Expenditures (E13) per Pupil                                615
dtype: int64

In [190]:
df_enrollment_financials.columns

Index(['School Name', 'School Name [Public School] 201617', 'Agency Name',
       'Agency ID', 'County Number', 'American Indian/Alaska Native',
       'Asian or Asian/Pacific Islander', 'Hispanic', 'Black', 'White',
       'Hawaiian Nat./Pacific Isl.', 'Two or More Races',
       'FullTime Equivalent (FTE) Teachers', 'Pupil/Teacher Ratio ',
       'Total Students All Grades (Includes AE)',
       'Total Revenue (TOTALREV) per Pupil ',
       'Total Revenue - Local Sources (TLOCREV) per Pupil ',
       'Total Revenue - State Sources (TSTREV) per Pupil',
       'Total Revenue - Federal Sources (TFEDREV) per Pupil ',
       'Total Current Expenditures - Instruction (TCURINST) per Pupil ',
       'Total Current Expenditures - Support Services (TCURSSVC) per Pupil ',
       'Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil',
       'Total Current Expenditures - Salary (Z32) per Pupil ',
       'Total Current Expenditures - Benefits (Z34) per Pupil ',
       'Total Expenditures (TOTALEXP) per Pupil ',
       'Total Expenditures - Capital Outlay (TCAPOUT) per Pupil ',
       'Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil',
       'Total Current Expenditures (TCURELSC) per Pupil',
       'Instructional Expenditures (E13) per Pupil '],
      dtype='object')

In [191]:
df_enrollment_financials[df_enrollment_financials['School Name'].isnull()]

,School Name,School Name [Public School] 201617,Agency Name,Agency ID,County Number,American Indian/Alaska Native,Asian or Asian/Pacific Islander,Hispanic,Black,White,...,Total Current Expenditures - Instruction (TCURINST) per Pupil,Total Current Expenditures - Support Services (TCURSSVC) per Pupil,Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil,Total Current Expenditures - Salary (Z32) per Pupil,Total Current Expenditures - Benefits (Z34) per Pupil,Total Expenditures (TOTALEXP) per Pupil,Total Expenditures - Capital Outlay (TCAPOUT) per Pupil,Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil,Total Current Expenditures (TCURELSC) per Pupil,Instructional Expenditures (E13) per Pupil
10434,NaN,NaN,ACTON-AGUA DULCE UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1393.0,1373.0,38.0,1359.0,504.0,3445.0,407.0,0.0,2803.0,1393.0
10435,NaN,NaN,ALAMEDA CNTY. STUDENT EXCHANGE PROG.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10436,NaN,NaN,ALTA-DUTCH FLAT UNION ELEMENTARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6663.0,4923.0,135.0,7115.0,2413.0,11721.0,0.0,0.0,11721.0,6663.0
10437,NaN,NaN,ALVIEW-DAIRYLAND UNION ELEMENTARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6446.0,3816.0,661.0,5617.0,2698.0,11205.0,278.0,0.0,10924.0,6446.0
10438,NaN,NaN,ANTELOPE VALLEY SCHOOLS TRANSPORTATION AGENCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10439,NaN,NaN,ARENA UNION ELEMENTARY/POINT ARENA JOINT UNION...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9293.0,7729.0,1111.0,9208.0,5002.0,20371.0,976.0,59.0,18132.0,9293.0
10440,NaN,NaN,AROMAS - SAN JUAN UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5864.0,4145.0,510.0,6034.0,2870.0,11856.0,289.0,0.0,10519.0,5864.0
10441,NaN,NaN,BALDY VIEW ROP JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10442,NaN,NaN,BALLICO-CRESSEY ELEMENTARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7895.0,3512.0,643.0,5895.0,2306.0,14247.0,2113.0,0.0,12051.0,7895.0
10443,NaN,NaN,BELMONT-REDWOOD SHORES ELEMENTARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7050.0,3324.0,190.0,6293.0,2308.0,15457.0,3524.0,0.0,10564.0,7050.0
10444,NaN,NaN,BIG OAK FLAT-GROVELAND UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10445,NaN,NaN,BITTERWATER-TULLY ELEMENTARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9063.0,3156.0,31.0,6813.0,2906.0,12938.0,0.0,0.0,12250.0,9063.0
10446,NaN,NaN,BLP SCHS SELF-INC. WORKERS COMPENSATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10447,NaN,NaN,BOLINAS-STINSON UNION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26459.0,22800.0,1624.0,27635.0,13847.0,51941.0,929.0,0.0,50882.0,26459.0
10448,NaN,NaN,BREA-OLINDA UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6055.0,3514.0,338.0,6020.0,2067.0,11417.0,1182.0,102.0,9907.0,6055.0
10449,NaN,NaN,CA ADVANCING PATHWAYS FOR STUDENTS IN LOS ANGE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10450,NaN,NaN,CA ADVANCING PATHWAYS FOR STUDENTS IN LOS ANGE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10451,NaN,NaN,CA SCH FOR THE DEAF-RIVERSIDE (STATE SPECIAL S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10452,NaN,NaN,CALIFORNIA SCHOOL FOR THE DEAF-FREMONT (STATE ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10453,NaN,NaN,CENTER FOR ADVANCED RESEARCH & TECH (CART) JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10454,NaN,NaN,CENTRAL CALIF MIGRANT HEAD START JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10455,NaN,NaN,CENTRAL CALIFORNIA SCHOOL FINANCE AUTHORITY JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10456,NaN,NaN,CENTRAL SIERRA ROP JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10457,NaN,NaN,CENTRAL VALLEY PRE-SCHOOL JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10458,NaN,NaN,CENTRAL VALLEY SUPPORT SERVICES JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10459,NaN,NaN,COALINGA-HURON UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7311.0,4789.0,550.0,6773.0,3445.0,13173.0,296.0,7.0,12650.0,7311.0
10460,NaN,NaN,COASTLINE ROP JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10461,NaN,NaN,COLTON-REDLANDS-YUCAIPA ROP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10462,NaN,NaN,COLTON-REDLANDS-YUCAIPA ROP JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10463,NaN,NaN,COMMUNITY DAY SCHOOL JOINT POWERS AGENCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10549,NaN,NaN,SBE - THE NEW SCHOOL OF SAN FRANCISCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10550,NaN,NaN,SBE - THE SCHOOL OF ARTS AND ENTERPRISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10551,NaN,NaN,SBE - THRIVE PUBLIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10552,NaN,NaN,SBE - WEI YU INTERNATIONAL CHARTER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10553,NaN,NaN,SCHOOL PROJECT UTILITY RATE REDUCTION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10554,NaN,NaN,SHASTA-TRINITY ROP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10555,NaN,NaN,SHASTA-TRINITY ROP JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10556,NaN,NaN,SIERRA-PLUMAS JOINT UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7941.0,6271.0,439.0,7146.0,3840.0,15641.0,707.0,0.0,14652.0,7941.0
10557,NaN,NaN,SILICON VALLEY JOINT POWERS TRANSPORTATION AGENCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10558,NaN,NaN,SNELLING-MERCED FALLS UNION ELEMENTARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9079.0,5645.0,829.0,7171.0,3461.0,15961.0,92.0,0.0,15553.0,9079.0
10559,NaN,NaN,SOUTH COUNTY SUPPORT SERVICES AGENCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10560,NaN,NaN,SOUTHERN CALIFORNIA ROP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10561,NaN,NaN,SOUTHERN PLACER SCHOOLS TRANSPORTATION AUTHORITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10562,NaN,NaN,SOUTHWEST TRANSPORTATION AGENCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10563,NaN,NaN,TAHOE-TRUCKEE UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9066.0,6189.0,426.0,9152.0,3911.0,23451.0,6635.0,37.0,15681.0,9066.0
10564,NaN,NaN,TRI-CITIES ROP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10565,NaN,NaN,TRI-CITIES ROP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10566,NaN,NaN,TRI-COUNTY ROP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10567,NaN,NaN,TRI-VALLEY ROP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10568,NaN,NaN,TRI-VALLEY ROP JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10569,NaN,NaN,UPPER LAKE UNION ELEMENTARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10570,NaN,NaN,UPPER LAKE UNION HIGH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10571,NaN,NaN,VALLEY CENTER-PAUMA UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6923.0,4834.0,405.0,7270.0,3002.0,13592.0,1386.0,40.0,12162.0,6923.0
10572,NaN,NaN,VALLEY ROP JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10573,NaN,NaN,VENTURA COUNTY SCHOOLS BUSINESS SERVICES JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10574,NaN,NaN,WEST COUNTY TRANSPORTATION JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10575,NaN,NaN,WEST SIDE ROP JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10576,NaN,NaN,WEST VALLEY SCHOOLS TRANSPORTATION AGENCY JPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10577,NaN,NaN,WINSHIP-ROBBINS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1107.0,1165.0,181.0,1284.0,488.0,2772.0,270.0,0.0,2453.0,1107.0
10578,NaN,NaN,YUCAIPA-CALIMESA JOINT UNIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5901.0,3348.0,356.0,5717.0,2474.0,9937.0,138.0,65.0,9604.0,5901.0

In [143]:
#Is seems that there are agencies without a school assigned to them, it would be interesting to know were that money is going to
#df_enrollment_financials=df_enrollment_financials.dropna()

In [192]:
DFfinMelt = pd.melt(df_enrollment_financials, id_vars=['School Name','Agency Name','Agency ID','Total Students All Grades (Includes AE)',
       'FullTime Equivalent (FTE) Teachers', 'Pupil/Teacher Ratio ',
       'Total Revenue (TOTALREV) per Pupil ',
       'Total Revenue - Local Sources (TLOCREV) per Pupil ',
       'Total Revenue - State Sources (TSTREV) per Pupil',
       'Total Revenue - Federal Sources (TFEDREV) per Pupil ',
       'Total Current Expenditures - Instruction (TCURINST) per Pupil ',
       'Total Current Expenditures - Support Services (TCURSSVC) per Pupil ',
       'Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil',
       'Total Current Expenditures - Salary (Z32) per Pupil ',
       'Total Current Expenditures - Benefits (Z34) per Pupil ',
       'Total Expenditures (TOTALEXP) per Pupil ',
       'Total Expenditures - Capital Outlay (TCAPOUT) per Pupil ',
       'Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil',
       'Total Current Expenditures (TCURELSC) per Pupil',
       'Instructional Expenditures (E13) per Pupil '], 
        value_vars=['American Indian/Alaska Native', 'Asian or Asian/Pacific Islander',
       'Hispanic', 'Black', 'White', 'Hawaiian Nat./Pacific Isl.',
       'Two or More Races'])

In [193]:
DFfinMelt.columns = ['School Name','District Name','District Code', 'Total Enrollment',
       'Full-Time Equivalent (FTE) Teachers', 'Pupil/Teacher Ratio',
       'Total Revenue (TOTALREV) per Pupil ',
       'Total Revenue - Local Sources (TLOCREV) per Pupil ',
       'Total Revenue - State Sources (TSTREV) per Pupil',
       'Total Revenue - Federal Sources (TFEDREV) per Pupil ',
       'Total Current Expenditures - Instruction (TCURINST) per Pupil ',
       'Total Current Expenditures - Support Services (TCURSSVC) per Pupil ',
       'Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil',
       'Total Current Expenditures - Salary (Z32) per Pupil ',
       'Total Current Expenditures - Benefits (Z34) per Pupil ',
       'Total Expenditures (TOTALEXP) per Pupil ',
       'Total Expenditures - Capital Outlay (TCAPOUT) per Pupil ',
       'Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil',
       'Total Current Expenditures (TCURELSC) per Pupil',
       'Instructional Expenditures (E13) per Pupil ', 'Subgroup ID', 'Count Enrollment per ethnicity']

In [194]:
DFfinMelt.isnull().sum()

School Name                                                               1015
District Name                                                                0
District Code                                                             1015
Total Enrollment                                                          1015
Full-Time Equivalent (FTE) Teachers                                       1015
Pupil/Teacher Ratio                                                       1015
Total Revenue (TOTALREV) per Pupil                                        4305
Total Revenue - Local Sources (TLOCREV) per Pupil                         4305
Total Revenue - State Sources (TSTREV) per Pupil                          4305
Total Revenue - Federal Sources (TFEDREV) per Pupil                       4305
Total Current Expenditures - Instruction (TCURINST) per Pupil             4305
Total Current Expenditures - Support Services (TCURSSVC) per Pupil        4305
Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil    4305
Total Current Expenditures - Salary (Z32) per Pupil                       4305
Total Current Expenditures - Benefits (Z34) per Pupil                     4305
Total Expenditures (TOTALEXP) per Pupil                                   4305
Total Expenditures - Capital Outlay (TCAPOUT) per Pupil                   4305
Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil     4305
Total Current Expenditures (TCURELSC) per Pupil                           4305
Instructional Expenditures (E13) per Pupil                                4305
Subgroup ID                                                                  0
Count Enrollment per ethnicity                                            1015
dtype: int64

In [275]:
#Disadvantaged label
def define_label(x):
    if x in (200,201,202,203,204,205,206,207):
        return 'Disadvantaged'
    else:
        return 'Not Disadvantaged'
DFass['Disadvantaged']=DFass['Subgroup ID'].apply(define_label)
DFass

,County Code,District Code,School Code,Subgroup ID,Test Id,Mean Scale Score,Total Tested At Entity Level,Total Tested with Scores,CAASPP Reported Enrollment,Students Tested,Students with Scores,Total Standard Exceeded,Total Standard Met,Total Standard Met and Above,Total Standard Nearly Met,Total Standard Not Met,Disadvantaged
0,1,10017,112607,200,1,2564.000000,24.0,24.0,25.0,24.0,24.0,6.0,2.0,8.0,8.0,8.0,Disadvantaged
1,1,10017,131581,200,1,2421.750000,46.0,46.0,23.0,23.0,23.0,0.0,2.0,2.0,4.0,17.0,Disadvantaged
2,1,10017,131581,200,2,2398.450000,46.0,46.0,23.0,23.0,23.0,0.0,3.0,3.0,0.0,20.0,Disadvantaged
3,1,10017,131581,204,1,2478.966667,348.0,342.0,116.0,116.0,114.0,2.0,21.0,24.0,39.0,54.0,Disadvantaged
4,1,10017,131581,204,2,2463.433333,348.0,345.0,116.0,116.0,115.0,2.0,12.0,14.0,32.0,70.0,Disadvantaged
5,1,10017,6002000,204,1,2437.150000,1566.0,1566.0,266.0,261.0,261.0,12.0,47.0,59.0,63.0,139.0,Disadvantaged
6,1,10017,6002000,204,2,2438.333333,1590.0,1590.0,266.0,265.0,265.0,12.0,30.0,42.0,88.0,135.0,Disadvantaged
7,1,10017,6001788,200,1,2371.500000,96.0,96.0,17.0,17.0,17.0,0.0,2.0,2.0,3.0,12.0,Disadvantaged
8,1,10017,6001788,200,2,2394.200000,99.0,99.0,17.0,17.0,17.0,0.0,1.0,1.0,7.0,9.0,Disadvantaged
9,1,10017,6001788,204,1,2395.166667,612.0,609.0,211.0,204.0,203.0,9.0,32.0,41.0,50.0,112.0,Disadvantaged
10,1,10017,6001788,204,2,2419.600000,621.0,621.0,211.0,207.0,207.0,5.0,35.0,40.0,72.0,95.0,Disadvantaged
11,1,10017,123968,204,1,2405.200000,318.0,312.0,27.0,26.0,26.0,0.0,1.0,1.0,6.0,19.0,Disadvantaged
12,1,10017,123968,204,2,2424.950000,312.0,306.0,27.0,27.0,26.0,1.0,2.0,3.0,5.0,19.0,Disadvantaged
13,1,10017,112607,200,2,2493.200000,24.0,24.0,25.0,24.0,24.0,1.0,5.0,6.0,3.0,15.0,Disadvantaged
14,1,10017,112607,204,2,2499.800000,38.0,38.0,39.0,38.0,38.0,0.0,3.0,3.0,7.0,28.0,Disadvantaged
15,1,10017,112607,220,1,2618.900000,13.0,13.0,14.0,13.0,13.0,7.0,1.0,8.0,2.0,3.0,Not Disadvantaged
16,1,10017,112607,220,2,2569.300000,13.0,13.0,14.0,13.0,13.0,2.0,3.0,5.0,3.0,5.0,Not Disadvantaged
17,1,10017,112607,204,1,2556.900000,39.0,39.0,39.0,39.0,39.0,2.0,11.0,13.0,18.0,8.0,Disadvantaged
18,1,10017,125567,226,1,2499.000000,220.0,220.0,39.0,39.0,39.0,19.0,9.0,28.0,10.0,1.0,Not Disadvantaged
19,1,10017,125567,226,2,2459.650000,216.0,216.0,39.0,39.0,39.0,9.0,12.0,21.0,7.0,11.0,Not Disadvantaged
20,1,10017,130401,200,1,2419.900000,44.0,44.0,22.0,11.0,11.0,0.0,0.0,0.0,1.0,10.0,Disadvantaged
21,1,10017,130401,200,2,2401.300000,44.0,44.0,22.0,11.0,11.0,0.0,0.0,0.0,0.0,11.0,Disadvantaged
22,1,10017,124172,222,1,2564.625000,280.0,280.0,74.0,70.0,70.0,44.0,12.0,56.0,7.0,7.0,Not Disadvantaged
23,1,10017,124172,222,2,2583.025000,280.0,280.0,74.0,70.0,70.0,46.0,15.0,61.0,8.0,1.0,Not Disadvantaged
24,1,10017,124172,227,1,2580.050000,264.0,264.0,69.0,66.0,66.0,42.0,17.0,59.0,3.0,4.0,Not Disadvantaged
25,1,10017,124172,227,2,2580.775000,268.0,264.0,69.0,67.0,66.0,43.0,17.0,60.0,6.0,1.0,Not Disadvantaged
26,3,10033,129692,226,2,2509.100000,54.0,54.0,17.0,17.0,17.0,0.0,2.0,2.0,9.0,6.0,Not Disadvantaged
27,3,10033,129692,226,1,2527.900000,54.0,54.0,17.0,17.0,17.0,1.0,5.0,6.0,6.0,5.0,Not Disadvantaged
28,4,10041,430090,206,2,2544.600000,343.0,343.0,14.0,14.0,14.0,0.0,0.0,0.0,8.0,6.0,Disadvantaged
29,4,10041,430090,206,1,2586.700000,343.0,343.0,14.0,14.0,14.0,2.0,3.0,5.0,8.0,1.0,Disadvantaged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52157,33,76943,132522,204,1,2439.900000,532.0,532.0,59.0,58.0,58.0,3.0,15.0,18.0,19.0,21.0,Disadvantaged
52158,33,76943,132522,204,2,2452.425000,539.0,532.0,59.0,59.0,58.0,6.0,5.0,11.0,26.0,21.0,Disadvantaged
52159,42,76950,132894,226,1,2640.500000,258.0,258.0,26.0,21.0,21.0,6.0,11.0,17.0,3.0,1.0,Not Disadvantaged
52160,42,76950,132894,226,2,2551.900000,264.0,264.0,26.0,22.0,22.0,1.0,5.0,6.0,4.0,12.0,Not Disadvantaged
52161,42,76950,132894,204,1,2492.350000,441.0,441.0,59.0,46.0,46.0,1.0,3.0,4.0,22.0,20.0,Disadvantaged
52162,42,76950,132894,206,1,2567.300000,180.0,180.0,14.0,13.0,13.0,2.0,5.0,7.0,3.0,3.0,Disadvantaged
52163,42,76950,132894,206,2,2502.500000,180.0,180.0,14.0,14.0,14.0,0.0,1.0,1.0,3.0,10.0,Disadvantaged
52164,42,76950,132894,204,2,2431.200000,427.0,427.0,58.0,45.0,45.0,0.0,0.0,0.0,3.0,42.0,Disadvantaged
52165,19,76968,109926,204,2,2471.950000,756.0,752.0,190.0,189.0,188.0,6.0,23.0,29.0,43.0,117.0,Disadvantaged
52166,19,76968,109926,204,1,2497.675000,756.0,756.0,190.0,189.0,189.0,15.0,35.0,50.0,58.0,81.0,Disadvantaged
52167,17,76976,1737006,204,1,2585.200000,18.0,18.0,19.0,18.0,18.0,2.0,5.0,7.0,9.0,2.0,Disadvantaged
52168,17,76976,1737006,206,1,2555.700000,26.0,26.0,26.0,26.0,26.0,3.0,9.0,12.0,6.0,8.0,Disadvantaged
52169,17,76976,1737006,206,2,2501.700000,26.0,26.0,26.0,26.0,26.0,0.0,0.0,0.0,8.0,18.0,Disadvantaged
52170,17,76976,1737006,204,2,2501.300000,19.0,19.0,19.0,19.0,19.0,0.0,0.0,0.0,3.0,16.0,Disadvantaged
52171,17,76976,6108773,226,2,2480.600000,81.0,81.0,12.0,11.0,11.0,0.0,1.0,1.0,2.0,8.0,Not Disadvantaged
52172,17,76976,6010680,206,2,2433.366667,207.0,207.0,70.0,69.0,69.0,6.0,16.0,22.0,21.0,26.0,Disadvantaged
52173,17,76976,6010680,206,1,2419.233333,204.0,204.0,70.0,68.0,68.0,10.0,10.0,20.0,18.0,30.0,Disadvantaged
52174,17,76976,6010680,204,2,2418.000000,141.0,141.0,48.0,47.0,47.0,0.0,14.0,14.0,14.0,19.0,Disadvantaged
52175,17,76976,1737006,226,2,2514.800000,13.0,13.0,13.0,13.0,13.0,0.0,2.0,2.0,2.0,9.0,Not Disadvantaged
52176,17,76976,1737006,226,1,2603.800000,13.0,13.0,13.0,13.0,13.0,3.0,3.0,6.0,6.0,1.0,Not Disadvantaged
52177,17,76976,6010680,204,1,2400.300000,144.0,144.0,48.0,48.0,48.0,4.0,9.0,13.0,9.0,26.0,Disadvantaged
52178,17,76976,6108773,206,2,2451.650000,165.0,165.0,45.0,45.0,45.0,1.0,3.0,4.0,15.0,26.0,Disadvantaged
52179,17,76976,6108773,204,1,2449.500000,123.0,123.0,45.0,41.0,41.0,0.0,1.0,1.0,15.0,25.0,Disadvantaged
52180,17,76976,6108773,204,2,2427.733333,123.0,123.0,45.0,41.0,41.0,0.0,1.0,1.0,7.0,33.0,Disadvantaged
52181,17,76976,6108773,206,1,2460.800000,165.0,165.0,45.0,45.0,45.0,1.0,4.0,5.0,14.0,26.0,Disadvantaged
52182,17,76976,6108773,226,1,2519.900000,81.0,81.0,12.0,11.0,11.0,0.0,2.0,2.0,7.0,2.0,Not Disadvantaged
52183,37,77032,134577,226,2,2619.000000,104.0,104.0,16.0,15.0,15.0,1.0,5.0,6.0,7.0,2.0,Not Disadvantaged
52184,37,77032,134577,204,1,2607.000000,210.0,210.0,18.0,18.0,18.0,3.0,8.0,11.0,5.0,2.0,Disadvantaged
52185,37,77032,134577,204,2,2544.300000,216.0,216.0,18.0,18.0,18.0,0.0,4.0,4.0,6.0,8.0,Disadvantaged
52186,37,77032,134577,226,1,2638.800000,104.0,104.0,16.0,15.0,15.0,7.0,6.0,13.0,1.0,1.0,Not Disadvantaged

In [276]:
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=200, value='Black')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=201, value='American Indian/Alaska Native')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=202, value='Asian or Asian/Pacific Islander')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=203, value='Filipino')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=204, value='Hispanic')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=205, value='Hawaiian Nat./Pacific Isl.')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=206, value='White')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=207, value='Two or More Races')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=220, value='Black')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=221, value='American Indian/Alaska Native')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=222, value='Asian or Asian/Pacific Islander')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=223, value='Filipino')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=224, value='Hispanic')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=225, value='Hawaiian Nat./Pacific Isl.')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=226, value='White')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=227, value='Two or More Races')

In [295]:
DFass['Subgroup ID'].unique()

array(['Black', 'Hispanic', 'White', 'Asian or Asian/Pacific Islander',
       'Two or More Races', 'Filipino', 'Hawaiian Nat./Pacific Isl.',
       'American Indian/Alaska Native'], dtype=object)

In [277]:
DFass.columns

Index(['County Code', 'District Code', 'School Code', 'Subgroup ID', 'Test Id',
       'Mean Scale Score', 'Total Tested At Entity Level',
       'Total Tested with Scores', 'CAASPP Reported Enrollment',
       'Students Tested', 'Students with Scores', 'Total Standard Exceeded',
       'Total Standard Met', 'Total Standard Met and Above',
       'Total Standard Nearly Met', 'Total Standard Not Met', 'Disadvantaged'],
      dtype='object')

In [199]:
DFfinMelt['Subgroup ID'].unique()

array(['American Indian/Alaska Native', 'Asian or Asian/Pacific Islander',
       'Hispanic', 'Black', 'White', 'Hawaiian Nat./Pacific Isl.',
       'Two or More Races'], dtype=object)

In [278]:
DFass['Subgroup ID'].unique()

array(['Black', 'Hispanic', 'White', 'Asian or Asian/Pacific Islander',
       'Two or More Races', 'Filipino', 'Hawaiian Nat./Pacific Isl.',
       'American Indian/Alaska Native'], dtype=object)

In [294]:
DFass[DFass['School Code']==1935121]

,County Code,District Code,School Code,Subgroup ID,Test Id,Mean Scale Score,Total Tested At Entity Level,Total Tested with Scores,CAASPP Reported Enrollment,Students Tested,Students with Scores,Total Standard Exceeded,Total Standard Met,Total Standard Met and Above,Total Standard Nearly Met,Total Standard Not Met,Disadvantaged
15470,19,64733,1935121,Asian or Asian/Pacific Islander,1,2635.8,41.0,41.0,42.0,41.0,41.0,16.0,17.0,33.0,4.0,4.0,Disadvantaged
15471,19,64733,1935121,Asian or Asian/Pacific Islander,2,2667.6,41.0,41.0,42.0,41.0,41.0,14.0,12.0,26.0,9.0,6.0,Disadvantaged
15472,19,64733,1935121,Hispanic,1,2558.0,124.0,123.0,140.0,124.0,123.0,11.0,41.0,52.0,42.0,29.0,Disadvantaged
15473,19,64733,1935121,Hispanic,2,2513.9,120.0,120.0,141.0,120.0,120.0,4.0,12.0,16.0,32.0,72.0,Disadvantaged

In [284]:
df_schcode = pd.read_csv('sb_ca2017entities_csv.txt')
df_schcode.head()

,County Code,District Code,School Code,Filler,Test Year,Type Id,County Name,District Name,School Name,Zip Code
0,0,0,0,NaN,2017,4,State of California,NaN,NaN,
1,1,0,0,NaN,2017,5,Alameda,NaN,NaN,
2,1,10017,0,NaN,2017,6,Alameda,Alameda County Office Of Education,NaN,
3,1,10017,112607,NaN,2017,9,Alameda,Envision Academy For Arts & Technology,Envision Academy For Arts & Technology,94612
4,1,10017,123968,NaN,2017,9,Alameda,Community School For Creative Education,Community School For Creative Education,94606

In [285]:
df_schcode.columns

Index(['County Code', 'District Code', 'School Code', 'Filler', 'Test Year',
       'Type Id', 'County Name', 'District Name', 'School Name', 'Zip Code'],
      dtype='object')

In [286]:
df_schcode['District Name']=df_schcode['District Name'].str.upper()
df_schcode['School Name']=df_schcode['School Name'].str.upper()

In [287]:
del_columns = ['Filler', 'Test Year','Type Id','County Name']
df_schcode = df_schcode.drop(columns = del_columns)

In [288]:
df_schcode

,County Code,District Code,School Code,District Name,School Name,Zip Code
0,0,0,0,NaN,NaN,
1,1,0,0,NaN,NaN,
2,1,10017,0,ALAMEDA COUNTY OFFICE OF EDUCATION,NaN,
3,1,10017,112607,ENVISION ACADEMY FOR ARTS & TECHNOLOGY,ENVISION ACADEMY FOR ARTS & TECHNOLOGY,94612
4,1,10017,123968,COMMUNITY SCHOOL FOR CREATIVE EDUCATION,COMMUNITY SCHOOL FOR CREATIVE EDUCATION,94606
5,1,10017,124172,YU MING CHARTER,YU MING CHARTER,94608
6,1,10017,125567,URBAN MONTESSORI CHARTER,URBAN MONTESSORI CHARTER,94619
7,1,10017,130401,ALAMEDA COUNTY OFFICE OF EDUCATION,ALAMEDA COUNTY JUVENILE HALL/COURT,94578
8,1,10017,130419,ALAMEDA COUNTY OFFICE OF EDUCATION,ALAMEDA COUNTY COMMUNITY,94544
9,1,10017,131581,OAKLAND UNITY MIDDLE,OAKLAND UNITY MIDDLE,94605
10,1,10017,6001788,COX ACADEMY,COX ACADEMY,94603
11,1,10017,6002000,LAZEAR CHARTER ACADEMY,LAZEAR CHARTER ACADEMY,94601
12,1,31609,0,CALIFORNIA SCHOOL FOR THE BLIND (STATE S,NaN,
13,1,31609,131755,CALIFORNIA SCHOOL FOR THE BLIND (STATE S,CALIFORNIA SCHOOL FOR THE BLIND,94536
14,1,31617,0,CALIFORNIA SCHOOL FOR THE DEAF-FREMONT (,NaN,
15,1,31617,131763,CALIFORNIA SCHOOL FOR THE DEAF-FREMONT (,CALIFORNIA SCHOOL FOR THE DEAF-FREMONT,94538
16,1,61119,0,ALAMEDA UNIFIED,NaN,
17,1,61119,106401,ALAMEDA UNIFIED,ALAMEDA SCIENCE AND TECHNOLOGY INSTITUTE,94501
18,1,61119,111765,ALAMEDA UNIFIED,RUBY BRIDGES ELEMENTARY,94501
19,1,61119,119222,NEA COMMUNITY LEARNING CENTER,NEA COMMUNITY LEARNING CENTER,94501
20,1,61119,122085,THE ACADEMY OF ALAMEDA,THE ACADEMY OF ALAMEDA,94501
21,1,61119,126656,ALAMEDA UNIFIED,MAYA LIN,94501
22,1,61119,130229,ALAMEDA UNIFIED,ALAMEDA HIGH,94501
23,1,61119,130609,ALAMEDA COMMUNITY LEARNING CENTER,ALAMEDA COMMUNITY LEARNING CENTER,94501
24,1,61119,130625,ALTERNATIVES IN ACTION,ALTERNATIVES IN ACTION,94621
25,1,61119,132142,ALAMEDA UNIFIED,ENCINAL JUNIOR/SENIOR HIGH,94501
26,1,61119,134304,ALAMEDA UNIFIED,ISLAND HIGH (CONTINUATION),94501
27,1,61119,161119,ALAMEDA UNIFIED,ALAMEDA UNIFIED DISTRICT LEVEL PROGRAM,94501
28,1,61119,6090005,ALAMEDA UNIFIED,DONALD D. LUM ELEMENTARY,94501
29,1,61119,6090013,ALAMEDA UNIFIED,EDISON ELEMENTARY,94501
...,...,...,...,...,...,...
11297,58,72736,5872736,MARYSVILLE JOINT UNIFIED,MARYSVILLE JOINT UNIFIED DISTRICT LEVEL PROGRAM,95901
11298,58,72736,6056626,MARYSVILLE JOINT UNIFIED,ANNA MCKENNEY INTERMEDIATE,95901
11299,58,72736,6056634,MARYSVILLE JOINT UNIFIED,ARBOGA ELEMENTARY,95961
11300,58,72736,6056659,MARYSVILLE JOINT UNIFIED,CEDAR LANE ELEMENTARY,95961
11301,58,72736,6056667,MARYSVILLE JOINT UNIFIED,CORDUA ELEMENTARY,95901
11302,58,72736,6056675,MARYSVILLE JOINT UNIFIED,DOBBINS ELEMENTARY,95935
11303,58,72736,6056683,MARYSVILLE JOINT UNIFIED,ELLA ELEMENTARY,95961
11304,58,72736,6056691,MARYSVILLE JOINT UNIFIED,FOOTHILL INTERMEDIATE,95901
11305,58,72736,6056709,MARYSVILLE JOINT UNIFIED,JOHNSON PARK ELEMENTARY,95961
11306,58,72736,6056717,MARYSVILLE JOINT UNIFIED,LINDA ELEMENTARY,95901
11307,58,72736,6056725,MARYSVILLE JOINT UNIFIED,LOMA RICA ELEMENTARY,95901
11308,58,72736,6056733,MARYSVILLE JOINT UNIFIED,COVILLAUD ELEMENTARY,95901
11309,58,72736,6056741,MARYSVILLE JOINT UNIFIED,OLIVEHURST ELEMENTARY,95961
11310,58,72736,6056774,MARYSVILLE JOINT UNIFIED,KYNOCH ELEMENTARY,95901
11311,58,72736,6056782,MARYSVILLE JOINT UNIFIED,YUBA FEATHER ELEMENTARY,95925
11312,58,72736,6056790,MARYSVILLE JOINT UNIFIED,YUBA GARDENS INTERMEDIATE,95961
11313,58,72736,6099014,MARYSVILLE JOINT UNIFIED,BROWNS VALLEY ELEMENTARY,95918
11314,58,72744,0,PLUMAS LAKE ELEMENTARY,NaN,
11315,58,72744,107375,PLUMAS LAKE ELEMENTARY,RIO DEL ORO ELEMENTARY,95961
11316,58,72744,112623,PLUMAS LAKE ELEMENTARY,RIVERSIDE MEADOWS INTERMEDIATE,95961
11317,58,72744,114652,PLUMAS LAKE ELEMENTARY,COBBLESTONE ELEMENTARY,95961
11318,58,72751,0,WHEATLAND,NaN,
11319,58,72751,5872751,WHEATLAND,WHEATLAND DISTRICT LEVEL PROGRAM,95692
11320,58,72751,6056816,WHEATLAND,BEAR RIVER,95692
11321,58,72751,6056832,WHEATLAND,LONE TREE ELEMENTARY,95903
11322,58,72751,6056840,WHEATLAND,WHEATLAND ELEMENTARY,95692
11323,58,72751,6118806,WHEATLAND,WHEATLAND CHARTER ACADEMY,95903
11324,58,72769,0,WHEATLAND UNION HIGH,NaN,
11325,58,72769,123570,WHEATLAND UNION HIGH,WHEATLAND COMMUNITY DAY HIGH,95692
11326,58,72769,5838305,WHEATLAND UNION HIGH,WHEATLAND UNION HIGH,95692

In [205]:
df_schcode = df_schcode.dropna()

In [289]:
df_schcode.head()

,County Code,District Code,School Code,District Name,School Name,Zip Code
0,0,0,0,NaN,NaN,
1,1,0,0,NaN,NaN,
2,1,10017,0,ALAMEDA COUNTY OFFICE OF EDUCATION,NaN,
3,1,10017,112607,ENVISION ACADEMY FOR ARTS & TECHNOLOGY,ENVISION ACADEMY FOR ARTS & TECHNOLOGY,94612
4,1,10017,123968,COMMUNITY SCHOOL FOR CREATIVE EDUCATION,COMMUNITY SCHOOL FOR CREATIVE EDUCATION,94606

In [290]:
df_ass = pd.merge(DFass, df_schcode, how='left', on=['County Code','District Code','School Code'])
df_ass.isnull().sum()

County Code                     0
District Code                   0
School Code                     0
Subgroup ID                     0
Test Id                         0
Mean Scale Score                0
Total Tested At Entity Level    0
Total Tested with Scores        0
CAASPP Reported Enrollment      0
Students Tested                 0
Students with Scores            0
Total Standard Exceeded         0
Total Standard Met              0
Total Standard Met and Above    0
Total Standard Nearly Met       0
Total Standard Not Met          0
Disadvantaged                   0
District Name                   0
School Name                     0
Zip Code                        0
dtype: int64

In [208]:
DFfinMelt.columns

Index(['School Name', 'District Name', 'District Code', 'Total Enrollment',
       'Full-Time Equivalent (FTE) Teachers', 'Pupil/Teacher Ratio',
       'Total Revenue (TOTALREV) per Pupil ',
       'Total Revenue - Local Sources (TLOCREV) per Pupil ',
       'Total Revenue - State Sources (TSTREV) per Pupil',
       'Total Revenue - Federal Sources (TFEDREV) per Pupil ',
       'Total Current Expenditures - Instruction (TCURINST) per Pupil ',
       'Total Current Expenditures - Support Services (TCURSSVC) per Pupil ',
       'Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil',
       'Total Current Expenditures - Salary (Z32) per Pupil ',
       'Total Current Expenditures - Benefits (Z34) per Pupil ',
       'Total Expenditures (TOTALEXP) per Pupil ',
       'Total Expenditures - Capital Outlay (TCAPOUT) per Pupil ',
       'Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil',
       'Total Current Expenditures (TCURELSC) per Pupil',
       'Instructional Expenditures (E13) per Pupil ', 'Subgroup ID',
       'Count Enrollment per ethnicity'],
      dtype='object')

In [293]:
df_ass[df_ass['School Name']=='ABRAHAM LINCOLN SENIOR HIGH']

,County Code,District Code,School Code,Subgroup ID,Test Id,Mean Scale Score,Total Tested At Entity Level,Total Tested with Scores,CAASPP Reported Enrollment,Students Tested,Students with Scores,Total Standard Exceeded,Total Standard Met,Total Standard Met and Above,Total Standard Nearly Met,Total Standard Not Met,Disadvantaged,District Name,School Name,Zip Code
15470,19,64733,1935121,Asian or Asian/Pacific Islander,1,2635.8,41.0,41.0,42.0,41.0,41.0,16.0,17.0,33.0,4.0,4.0,Disadvantaged,LOS ANGELES UNIFIED,ABRAHAM LINCOLN SENIOR HIGH,90031
15471,19,64733,1935121,Asian or Asian/Pacific Islander,2,2667.6,41.0,41.0,42.0,41.0,41.0,14.0,12.0,26.0,9.0,6.0,Disadvantaged,LOS ANGELES UNIFIED,ABRAHAM LINCOLN SENIOR HIGH,90031
15472,19,64733,1935121,Hispanic,1,2558.0,124.0,123.0,140.0,124.0,123.0,11.0,41.0,52.0,42.0,29.0,Disadvantaged,LOS ANGELES UNIFIED,ABRAHAM LINCOLN SENIOR HIGH,90031
15473,19,64733,1935121,Hispanic,2,2513.9,120.0,120.0,141.0,120.0,120.0,4.0,12.0,16.0,32.0,72.0,Disadvantaged,LOS ANGELES UNIFIED,ABRAHAM LINCOLN SENIOR HIGH,90031

In [210]:
#df_ass['School Name']=df_ass['School Name'].str.upper()
#df_ass['District Name']=df_ass['District Name'].str.upper()

In [296]:
final_eco_ethnicity_merged = pd.merge(DFfinMelt, df_ass, how='inner', on=['School Name','District Name', 'Subgroup ID'])
final_eco_ethnicity_merged= final_eco_ethnicity_merged.sort_values(by=['School Name'])

In [297]:
final_eco_ethnicity_merged.isnull().sum()

School Name                                                                0
District Name                                                              0
District Code_x                                                            0
Total Enrollment                                                           0
Full-Time Equivalent (FTE) Teachers                                        0
Pupil/Teacher Ratio                                                        0
Total Revenue (TOTALREV) per Pupil                                        31
Total Revenue - Local Sources (TLOCREV) per Pupil                         31
Total Revenue - State Sources (TSTREV) per Pupil                          31
Total Revenue - Federal Sources (TFEDREV) per Pupil                       31
Total Current Expenditures - Instruction (TCURINST) per Pupil             31
Total Current Expenditures - Support Services (TCURSSVC) per Pupil        31
Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil    31
Total Current Expenditures - Salary (Z32) per Pupil                       31
Total Current Expenditures - Benefits (Z34) per Pupil                     31
Total Expenditures (TOTALEXP) per Pupil                                   31
Total Expenditures - Capital Outlay (TCAPOUT) per Pupil                   31
Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil     31
Total Current Expenditures (TCURELSC) per Pupil                           31
Instructional Expenditures (E13) per Pupil                                31
Subgroup ID                                                                0
Count Enrollment per ethnicity                                             0
County Code                                                                0
District Code_y                                                            0
School Code                                                                0
Test Id                                                                    0
Mean Scale Score                                                           0
Total Tested At Entity Level                                               0
Total Tested with Scores                                                   0
CAASPP Reported Enrollment                                                 0
Students Tested                                                            0
Students with Scores                                                       0
Total Standard Exceeded                                                    0
Total Standard Met                                                         0
Total Standard Met and Above                                               0
Total Standard Nearly Met                                                  0
Total Standard Not Met                                                     0
Disadvantaged                                                              0
Zip Code                                                                   0
dtype: int64

In [299]:
final_eco_ethnicity_merged[final_eco_ethnicity_merged['District Name'].isnull()]

Empty DataFrame
Columns: [School Name, District Name, District Code_x, Total Enrollment, Full-Time Equivalent (FTE) Teachers, Pupil/Teacher Ratio, Total Revenue (TOTALREV) per Pupil , Total Revenue - Local Sources (TLOCREV) per Pupil , Total Revenue - State Sources (TSTREV) per Pupil, Total Revenue - Federal Sources (TFEDREV) per Pupil , Total Current Expenditures - Instruction (TCURINST) per Pupil , Total Current Expenditures - Support Services (TCURSSVC) per Pupil , Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil, Total Current Expenditures - Salary (Z32) per Pupil , Total Current Expenditures - Benefits (Z34) per Pupil , Total Expenditures (TOTALEXP) per Pupil , Total Expenditures - Capital Outlay (TCAPOUT) per Pupil , Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil, Total Current Expenditures (TCURELSC) per Pupil, Instructional Expenditures (E13) per Pupil , Subgroup ID, Count Enrollment per ethnicity, County Code, District Code_y, School Code, Test Id, Mean Scale Score, Total Tested At Entity Level, Total Tested with Scores, CAASPP Reported Enrollment, Students Tested, Students with Scores, Total Standard Exceeded, Total Standard Met, Total Standard Met and Above, Total Standard Nearly Met, Total Standard Not Met, Disadvantaged, Zip Code]
Index: []

[0 rows x 39 columns]

In [300]:
final_df=final_eco_ethnicity_merged#[final_eco_ethnicity_merged['District Code'].notnull()]

In [301]:
final_df.isnull().sum()

School Name                                                                0
District Name                                                              0
District Code_x                                                            0
Total Enrollment                                                           0
Full-Time Equivalent (FTE) Teachers                                        0
Pupil/Teacher Ratio                                                        0
Total Revenue (TOTALREV) per Pupil                                        31
Total Revenue - Local Sources (TLOCREV) per Pupil                         31
Total Revenue - State Sources (TSTREV) per Pupil                          31
Total Revenue - Federal Sources (TFEDREV) per Pupil                       31
Total Current Expenditures - Instruction (TCURINST) per Pupil             31
Total Current Expenditures - Support Services (TCURSSVC) per Pupil        31
Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil    31
Total Current Expenditures - Salary (Z32) per Pupil                       31
Total Current Expenditures - Benefits (Z34) per Pupil                     31
Total Expenditures (TOTALEXP) per Pupil                                   31
Total Expenditures - Capital Outlay (TCAPOUT) per Pupil                   31
Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil     31
Total Current Expenditures (TCURELSC) per Pupil                           31
Instructional Expenditures (E13) per Pupil                                31
Subgroup ID                                                                0
Count Enrollment per ethnicity                                             0
County Code                                                                0
District Code_y                                                            0
School Code                                                                0
Test Id                                                                    0
Mean Scale Score                                                           0
Total Tested At Entity Level                                               0
Total Tested with Scores                                                   0
CAASPP Reported Enrollment                                                 0
Students Tested                                                            0
Students with Scores                                                       0
Total Standard Exceeded                                                    0
Total Standard Met                                                         0
Total Standard Met and Above                                               0
Total Standard Nearly Met                                                  0
Total Standard Not Met                                                     0
Disadvantaged                                                              0
Zip Code                                                                   0
dtype: int64

In [310]:
district_list =final_df['District Name'][final_df['Total Revenue (TOTALREV) per Pupil '].isnull()]

In [316]:
district_list.unique()

array(['AROMAS/SAN JUAN UNIFIED', 'MADERA COUNTY OFFICE OF EDUCATION',
       'ORO GRANDE ELEMENTARY'], dtype=object)

In [317]:
#df.loc[df['a']>0, ['b','c']]
t=final_df.loc[final_df['Total Revenue (TOTALREV) per Pupil '].isnull(),['School Name', 'District Name', 'Subgroup ID','Disadvantaged']]
t['Subgroup ID'].unique()

array(['White', 'Hispanic', 'Black'], dtype=object)

In [313]:
final_df.loc[final_df['District Name']=='AROMAS/SAN JUAN UNIFIED']

,School Name,District Name,District Code_x,Total Enrollment,Full-Time Equivalent (FTE) Teachers,Pupil/Teacher Ratio,Total Revenue (TOTALREV) per Pupil,Total Revenue - Local Sources (TLOCREV) per Pupil,Total Revenue - State Sources (TSTREV) per Pupil,Total Revenue - Federal Sources (TFEDREV) per Pupil,...,CAASPP Reported Enrollment,Students Tested,Students with Scores,Total Standard Exceeded,Total Standard Met,Total Standard Met and Above,Total Standard Nearly Met,Total Standard Not Met,Disadvantaged,Zip Code
35397,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,691136.0,339.0,16.4,20.67,NaN,NaN,NaN,NaN,...,16.0,16.0,16.0,7.0,8.0,15.0,0.0,1.0,Not Disadvantaged,95045
35398,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,691136.0,339.0,16.4,20.67,NaN,NaN,NaN,NaN,...,16.0,16.0,16.0,4.0,3.0,7.0,2.0,7.0,Not Disadvantaged,95045
16888,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,691136.0,339.0,16.4,20.67,NaN,NaN,NaN,NaN,...,48.0,47.0,47.0,10.0,16.0,26.0,14.0,7.0,Disadvantaged,95045
16890,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,691136.0,339.0,16.4,20.67,NaN,NaN,NaN,NaN,...,24.0,24.0,23.0,0.0,5.0,5.0,5.0,14.0,Not Disadvantaged,95045
16891,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,691136.0,339.0,16.4,20.67,NaN,NaN,NaN,NaN,...,24.0,23.0,23.0,5.0,9.0,14.0,7.0,2.0,Not Disadvantaged,95045
16889,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,691136.0,339.0,16.4,20.67,NaN,NaN,NaN,NaN,...,48.0,47.0,47.0,3.0,7.0,10.0,15.0,22.0,Disadvantaged,95045
35399,AROMAS,AROMAS/SAN JUAN UNIFIED,691136.0,412.0,17.0,24.24,NaN,NaN,NaN,NaN,...,12.0,11.0,11.0,5.0,3.0,8.0,2.0,1.0,Not Disadvantaged,95004
35400,AROMAS,AROMAS/SAN JUAN UNIFIED,691136.0,412.0,17.0,24.24,NaN,NaN,NaN,NaN,...,12.0,11.0,11.0,4.0,3.0,7.0,2.0,2.0,Not Disadvantaged,95004
16894,AROMAS,AROMAS/SAN JUAN UNIFIED,691136.0,412.0,17.0,24.24,NaN,NaN,NaN,NaN,...,23.0,23.0,23.0,4.0,10.0,14.0,4.0,5.0,Not Disadvantaged,95004
16895,AROMAS,AROMAS/SAN JUAN UNIFIED,691136.0,412.0,17.0,24.24,NaN,NaN,NaN,NaN,...,23.0,23.0,23.0,6.0,6.0,12.0,6.0,5.0,Not Disadvantaged,95004
16892,AROMAS,AROMAS/SAN JUAN UNIFIED,691136.0,412.0,17.0,24.24,NaN,NaN,NaN,NaN,...,143.0,140.0,140.0,8.0,41.0,49.0,51.0,40.0,Disadvantaged,95004
16893,AROMAS,AROMAS/SAN JUAN UNIFIED,691136.0,412.0,17.0,24.24,NaN,NaN,NaN,NaN,...,143.0,140.0,140.0,10.0,30.0,40.0,54.0,46.0,Disadvantaged,95004
16896,SAN JUAN,AROMAS/SAN JUAN UNIFIED,691136.0,367.0,16.0,22.94,NaN,NaN,NaN,NaN,...,157.0,150.0,150.0,7.0,26.0,33.0,32.0,85.0,Disadvantaged,95045
16897,SAN JUAN,AROMAS/SAN JUAN UNIFIED,691136.0,367.0,16.0,22.94,NaN,NaN,NaN,NaN,...,157.0,150.0,150.0,4.0,14.0,18.0,45.0,87.0,Disadvantaged,95045

In [318]:
t

,School Name,District Name,Subgroup ID,Disadvantaged
35397,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,White,Not Disadvantaged
35398,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,White,Not Disadvantaged
16888,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,Hispanic,Disadvantaged
16890,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,Hispanic,Not Disadvantaged
16891,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,Hispanic,Not Disadvantaged
16889,ANZAR HIGH,AROMAS/SAN JUAN UNIFIED,Hispanic,Disadvantaged
35399,AROMAS,AROMAS/SAN JUAN UNIFIED,White,Not Disadvantaged
35400,AROMAS,AROMAS/SAN JUAN UNIFIED,White,Not Disadvantaged
16894,AROMAS,AROMAS/SAN JUAN UNIFIED,Hispanic,Not Disadvantaged
16895,AROMAS,AROMAS/SAN JUAN UNIFIED,Hispanic,Not Disadvantaged
16892,AROMAS,AROMAS/SAN JUAN UNIFIED,Hispanic,Disadvantaged
16893,AROMAS,AROMAS/SAN JUAN UNIFIED,Hispanic,Disadvantaged
24429,MADERA COUNTY INDEPENDENT ACADEMY,MADERA COUNTY OFFICE OF EDUCATION,Hispanic,Disadvantaged
24428,MADERA COUNTY INDEPENDENT ACADEMY,MADERA COUNTY OFFICE OF EDUCATION,Hispanic,Disadvantaged
25312,ORO GRANDE ELEMENTARY,ORO GRANDE ELEMENTARY,Hispanic,Disadvantaged
25311,ORO GRANDE ELEMENTARY,ORO GRANDE ELEMENTARY,Hispanic,Disadvantaged
24431,PIONEER TECHNICAL CENTER,MADERA COUNTY OFFICE OF EDUCATION,Hispanic,Disadvantaged
24430,PIONEER TECHNICAL CENTER,MADERA COUNTY OFFICE OF EDUCATION,Hispanic,Disadvantaged
29175,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,Black,Not Disadvantaged
25316,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,Hispanic,Disadvantaged
41072,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,White,Not Disadvantaged
29177,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,Black,Disadvantaged
41073,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,White,Disadvantaged
25315,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,Hispanic,Disadvantaged
41074,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,White,Not Disadvantaged
41075,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,White,Disadvantaged
25314,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,Hispanic,Not Disadvantaged
25313,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,Hispanic,Not Disadvantaged
29176,RIVERSIDE PREPARATORY,ORO GRANDE ELEMENTARY,Black,Disadvantaged
16896,SAN JUAN,AROMAS/SAN JUAN UNIFIED,Hispanic,Disadvantaged
16897,SAN JUAN,AROMAS/SAN JUAN UNIFIED,Hispanic,Disadvantaged

In [321]:
final_df=final_df.fillna(0)

In [322]:
final_df.to_csv('schools_final_economic_merged.csv')